<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116994546014-kqd0mtl5p8nb5n0jf8soogaogpj37rd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116994546014-kqd0mtl5p8nb5n0jf8soogaogpj37rd2</string>
	<key>API_KEY</key>
	<string>AIzaSyBH0HC3pnzuOD4feXs2GUXlbKgNEBfdJ5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>116994546014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tklocation</string>
	<key>PROJECT_ID</key>
	<string>catscha-64e2b</string>
	<key>STORAGE_BUCKET</key>
	<string>catscha-64e2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116994546014:ios:6418569bdcbbce784357cf</string>
	<key>DATABASE_URL</key>
	<string>https://catscha-64e2b.firebaseio.com</string>
</dict>
</plist>